<!--
<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>
-->

<div data-ng-controller="ObservationListCtrl">
    <div data-ng-repeat="observation in observations">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <rd-widget>
                    <rd-widget-body>
                        <div class="widget-icon pull-left">
                            <i class="wi wi-strong-wind"></i>
                        </div>
                        <div class="title">{{observation.windObservation.windDirection}} {{observation.windObservation.windSpeed}}K</div>
                        <div class="comment">Wind({{observation.windObservation.relativeObsTime}})</div>
                    </rd-widget-body>
                </rd-widget>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <rd-widget>
                    <rd-widget-body>
                        <div class="widget-icon red pull-left">
                            <i class="fa fa-flag-checkered"></i>
                        </div>
                        <div class="title">{{observation.windObservation.peakDirection}} {{observation.windObservation.hourlyPeak}}K</div>
                        <div class="comment">Hourly Peak</div>
                    </rd-widget-body>
                </rd-widget>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <rd-widget>
                    <rd-widget-body>
                        <div class="widget-icon green pull-left">
                            <i class="wi wi-thermometer"></i>
                        </div>
                        <div class="title">{{observation.windObservation.temperature}}C</div>
                        <div class="comment">Temperature</div>
                    </rd-widget-body>
                </rd-widget>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <rd-widget>
                    <rd-widget-body>
                        <div class="widget-icon blue pull-left">
                            <i class="{{'wi ' + observation.forecast.dailyForecasts[0].icon}}"></i>
                        </div>
                        <div class="title">{{observation.forecast.dailyForecasts[0].maxTemp ? 'Max ' + observation.forecast.dailyForecasts[0].maxTemp + 'C' : '&nbsp;'}} {{observation.forecast.dailyForecasts[0].minTemp ? ', Min ' + observation.forecast.dailyForecasts[0].minTemp + 'C' : '&nbsp;'}}</div>
                        <div class="comment">{{observation.forecast.dailyForecasts[0].summary}}</div>
                    </rd-widget-body>
                </rd-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <rd-widget>
                    <rd-widget-header icon="fa-flag" title="Wind Observation for last 8hours"></rd-widget-header>
                    <rd-widget-body>
                        <div data-ac-chart="'line'" data-ac-data="observation.windObservation.chartFeed" data-ac-config="config" class="chart">
                        </div>
                    </rd-widget-body>
                </rd-widget>
            </div>
        </div>
    </div>
</div>